.content{
	background-color: rgba(255,255,255,1);
	/*overflow: hidden;*/
	/*height:50px;
	width: 50px;*/
}

.recButton{
	/*width: 20px;
	height:20px;*/
}
.stopButton{
	/*width: 20px;
	height:20px;*/
}